body {
    background-color: #000000;
    color: #ffffff;
}

a {
    color: aliceblue;
}

#testid, .description.description {
    color: blueviolet;
}

/* #testid{
    color:green
} */
/* Id>class>element */